<h1>Welcome to my Music Library</h1>
<p>This site displays a collection of songs / albums I've listened to over the course of the month.</p>

@for (item of music; track item.id) {
  <div class = music-card>
    <h2>{{ item.name }}</h2>
    <p>Category: {{ item.category }}</p>
    <p>Year: {{ item.year }}</p>
    <p>Release: {{ item.dateReleased }}</p>

    @if (item.description) {
        <div class = "description-box">
      <p>Description: {{ item.description }}</p>
      </div>
    }

    @switch (item.category) {
      @case ("metal") {
        <span>Metal</span>
      }
      @case ("jazz") {
        <span>Jazz</span>
      }
      @case ("rock") {
        <span>Rock</span>
      }
      @case ("pop") {
        <span>Pop</span>
      }
      @default {
        <span>Unknown category</span>
      }
    }
  </div>
} @empty {
  <p>No music entries found currently. Sorry!</p>
}

<div id="Sentenial Value"></div>